@model IEnumerable<MuseunBD.Worker>

@{
    ViewData["Title"] = "Index";
}

<h1>Працівники</h1>

<p>
    <a asp-action="Create">Додати нового працівника</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkerId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.WorkerId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkerId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
